/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
.oswald { font-family: 'Oswald', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }



 /* Homework Code  */
.mainHeader {
  background-color:black;
  border-bottom: 5px solid #f2ff00;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

h1.mainLogo {
  color:#f2ff00;
  padding:20px;
}

.mainNav ul {
  display:flex;
  gap: 30px;
  padding-right:50px;
}

.mainNav ul li a {
  color:white;
  text-decoration:none;
  font-size:20px;
}

a.navCaps {
  text-transform:Uppercase;
}

.topBanner {
  background-color: #adadad;
}

.topBanner h2 {
  font-size:28px;
  text-align:center;
  padding:20px;
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  border-bottom:3px solid #f2ff00;
}

.mainBanner {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg);
  background-size:cover;
  background-position: center;
  height:500px;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

.bannerBox {
  background-color: rgba(255,255,255,0.9);
  width:30%;
  padding: 50px;
  margin-right: 50px;
  box-shadow: 0 0 5px rgb(0 0 0 / 75%)
}

.bannerBox h3 {
  font-size:24px;
  font-weight:700;
}

.bannerBox p {
  font-size:18px;
}

.yellowButton {
  display:block;
  border-radius:5px;
  text-align: center;
  padding: 10px 30px;
  border-bottom: 2px solid #ffd900;
  font-size:24px;
  background-color: #f2ff00;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* More Options Grid */
.moreOptions {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px;
  gap:20px;
  margin:10px;
}
.borderRight {
  border-right: 1px solid #adadad;
}

.featureBlock {
  padding:30px;
}

footer {
  background-color:black;
  color:white;
  padding:0 25px;
}

.grayButton {
  background-color:#adadad;
  color:black;
  border-bottom:2px solid #878787;
  display:block;
  text-align:center;
  padding:10px 20px;
  font-size:25px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius:5px;
}

h1.merriweather {
  font-size:24px;
}

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */