/* Featured and Expanded Item */
@media screen and (max-width:900px) {
    .trulia-nav-toggle {
        display:block;
        color:white;
        margin-right: 30px;
        font-size: 25px;
    }
    .trulia-nav-mobilehide {
        display:none;
    }
}

.trulia-nav-mobileshow {
    display:block;
}

.trulia-grid-item {
    cursor:pointer;
    transition: 0.15s ease-in-out;
}

.trulia-featured-grid-item {
    grid-column:span 2;
    grid-row:span 2;
    height:100%;
    min-height:360px;
}

.trulia-featured-grid-item .trulia-house-image {
    height:85%;
}

.trulia-featured-grid-item .trulia-house-facts {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 0px 10px 0px 10px;
    height:15%;
    min-height:160px;
  }

  .trulia-featured-grid-item .trulia-house-address {
    flex: 3;
    font-size: 20px;
    color:rgb(55,55,55);
  }
    
  .trulia-featured-grid-item .trulia-house-price {
    flex: 1;
    min-width:300px;
  }

  .trulia-featured-grid-item .trulia-house-price h1 {
      font-size: 30px;
  }

  .trulia-featured-grid-item .trulia-house-stats {
      flex:1;
      font-size: 16px;
      font-weight: bold;
  }

  .trulia-featured-grid-item .trulia-article-icon {
    height: 25px;
    padding: 0px 3px 0px 0px;
  }


  @media screen and (max-width:1024px){
    .trulia-nav {
      height: auto;
      display: block;
    }
    
    .trulia-nav-toggle {
      display:block;
      color:white;
      font-weight:bold;
      font-size: 2rem;
      margin-right:2rem;
    }
    
    .trulia-nav ul li {
      display:inline-block;
      margin:0;
    }
    
    .trulia-nav-logo {
      height: 25px;
      width: 78px;
      padding-left:0;
    }
    
    .trulia-nav-left,
    .trulia-nav-right {
      flex-wrap: wrap;
      justify-content: space-between;
  
    }
  
    .trulia-nav-left ul,
    .trulia-nav-right ul {
      width:100%;
      display: block;
      margin:0;
    }
  
    .trulia-nav-left ul li,
    .trulia-nav-right ul li {
      display: block;
      }
    
    .trulia-nav-item,
    .trulia-nav-item:visited {
      display:block;
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom:1rem;
      margin-left: 1rem;
    }
  
    .trulia-nav-mobilehide {
      height:0;
      overflow:hidden;
      width:0;
    }
  
  }